.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-container {
  border: 1px solid lightgray;
}

.header {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.logo-name {
  font-size: x-large;
  font-weight: bold;
  line-height: 5rem;
  padding-left: 5rem;
  height: 5rem;
}

.search {
  margin-top: 2rem;
}

.search-text {
  height: 1rem;
  border: none;
  border-bottom: 1px solid gray;
  font-size: 15px;
  outline: none;
}

.search-image {
  height: 1.2em;
  margin-left: 0.5rem;
  margin-right: 10rem;
}

.movie-poster {
  height: 15rem;
  width: 13rem;
}

.movie-card {
  margin: 2rem;
  width: 13rem;
  height: 20rem;
  border: 1px solid grey;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
}

.movie-container {
  display: flex;
}

.headline {
  font-size: 19px;
  margin-top: 1rem;
  margin-bottom: 1px;
}

.content {
  font-size: 15px;
  margin: 1px;
  color: gray;
}

.add-content {
  height: 15rem;
  margin: 0.2rem;
}
.add-headline {
  height: 2rem;
  margin: 0.2rem;
}
.add-review {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  width: 20rem;
  height: fit-content;
  margin: 2rem;
}

.review-list {
  margin: 2rem;
  width: 15rem;
}

.add-review-text {
  text-align: center;
  font-size: large;
  font-weight: bold;
}

.review-list-text {
  font-size: large;
  font-weight: bold;
}

.submit-button {
  margin: 0.4rem;
  width: fit-content;
  align-self: flex-end;
}

a {
  text-decoration: none;
  color: black;
}

.movie-title {
  margin-top: 1rem;
  margin-left: 3px;
  font-size: 19px;
  font-weight: 500;
}

.release-date {
  font-size: 13px;
  margin-left: 3px;
  margin-top: 3px;
}
